<div class="cart__container">
    <div class="cart__header">
        <span>Pedido Atual</span>
    </div>
    <div class="cart__content">
        <ol>
            <li *ngFor="let product of cart.products" class="product__container">
                <img src="https://bing.com/th?id=OSK.ecdf11646cd56e60ea36607dc2601081" alt="product_image">
                <div class="product__texts">
                    <span>{{product.name}}</span>
                    <div class="product_price__info">
                        <button type="button">-</button>
                        <span>{{product.units}}</span>
                        <button type="button">+</button>
                        <span>R$ {{product.post_discount_price | numberFormat}}</span>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="cart__bill"></div>
</div>
