<div class="cart__container">
    <div class="cart__header">
        <span>Pedido Atual</span>
    </div>
    <div class="cart__content">
        <ol>
            <li *ngFor="let product of products$ | async" class="product__container">
                <div class="product__container" *ngIf="product.units > 0">
                    <img 
                    src="https://bing.com/th?id=OSK.ecdf11646cd56e60ea36607dc2601081" 
                    alt="product_image">
                    <div class="product__texts">
                        <span>{{product.name}}</span>
                        <div class="product_price__info">
                            <button type="button" (click)="removeOneProductFromCart(product)">-</button>
                            <span>{{product.units}}</span>
                            <button type="button" (click)="addOneProductToCart(product)">+</button>
                            <span *ngIf="product.post_discount_price.length === 2">R$ {{(product.post_discount_price[product.post_discount_price.length - 1]) | numberFormat}}</span>
                            <span *ngIf="!isArray(product.post_discount_price)">R$ {{(product.post_discount_price) | numberFormat}}</span>
                            <div class="product_ingredient__container" *ngFor="let ingredient of product.ingredients">
                                <div class="product_ingredient__info">
                                    <span>{{ingredient.name}}</span>
                                </div>
                                <div class="product_ingredient_price__info">
                                    <button type="button" (click)="removeOneIngredientFromCart(product, ingredient)">-</button>
                                    <span>{{ingredient.qty}}</span>
                                    <button type="button" (click)="addOneIngredientToCart(product, ingredient)">+</button>
                                    <span>R$ {{ingredient.price | numberFormat}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="cart_bill__container" *ngIf="products$ | async as products">
        <div class="cart__bill" *ngIf="products.length > 0">
            <span>R$ {{(totalOrderPrice$ | async) | numberFormat}}</span>
            <button type="button" (click)="sendOrder()" >Finalizar Pedido</button>
        </div>
    </div>
</div>
