@use '../../../variables.scss';
.home__container {
  background-color: variables.$background-color;
}
.nav_bar__container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 10px;
  font-size: 20px;
  z-index: 1000;
  background-color: variables.$primary-color;
  color: variables.$on-primary-font-color;
}
.logo__container {
  padding-bottom: 10px;
}
.searchbar__container {
  display: flex;
  align-items: center;
}
.main_page__container {
  display: flex;
  flex-direction: row;
}
.cart__container {
  position: fixed;
  top: 80px;
  right: 150px;
  z-index: 2;
}
.type-card__container {
  margin: 2rem 0 0 0.5rem;
}
.type_list__container {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}