.menu_type__container {
    display: flex;
    overflow-x: auto;
  }
  
  .menu_type__container div {
    padding: 8px;
    cursor: pointer;
  }
  
  .menu_type__container a {
    text-decoration: none;
    color: black;
  }
  
  .menu_type__container .highlighted {
    background-color: #a9a9a9;
  }