@use '../../../variables.scss';

.product__container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 200px;
    transition: 0.2s;
    &:hover {
        transform: scale(1.05);
        transition: 0.2s;
    }
}
.product__image {
    img {
        max-width: 100%;
        height: 300px;
        width: 200px;
        border-radius: 10px;
        z-index: 1;
        object-fit: cover;
        object-position: center 100%;
        -moz-box-shadow: variables.$box-shadow;
        -webkit-box-shadow: variables.$box-shadow;
        box-shadow: variables.$box-shadow;
    }
}
.product__content {
    padding: 10px;
    width: 200px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    z-index: 2;
    background-color: variables.$background-color;
}
.product__title {
    h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.product__description {
    margin: 0 20px 5px 0;
    color: variables.$description-color;
    font-size: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número desejado de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product__purchase {
    display: flex;
    justify-content: space-between;
}
.product__price {
    margin: 0;
    font-weight: bold;
    color: variables.$secondary-color;
    display: flex;
    justify-content: flex-start;
}
.product__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px; 
    height: 20px; 
    background-color: #fff; 
    border-radius: 50%; 
    color: variables.$secondary-color; 
    border: 1px solid variables.$secondary-color;
    font-size: 16px; 
    cursor: pointer;
    span {
        display: inline-block;
        transform: translateY(-2px);
    }
}