<div class="product__container">
    <div class="product__image">
        <img
        src="https://bing.com/th?id=OSK.ecdf11646cd56e60ea36607dc2601081"
        alt="product_image">
    </div>
    <div class="product__content">
        <div class="product__title">
            <h2>{{productName}}</h2>
        </div>
        <div class="product__description">
            <span>{{productDescription}}</span>
        </div>
        <div class="product__purchase">
            <div class="product__price">
                <span>R$ {{ productPrice | numberFormat }}</span>
            </div>
            <div class="product__buy">
                <span (click)="addOne(product)">+</span>
            </div>
        </div>
    </div>
</div>

